* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    margin: 0 auto;
    background-color: #e7e9fd;
}

header {
    background-color: #91a7ff;
    padding: 10px 20px;
}


header h1 {
    color: rgb(0, 0, 0);
}

/* (Desktop) */
header{
    background-color: #91a7ff;
    display: flex;
    justify-content: space-between;
}

header h1{
    margin-left: 25px;
}

ul.menu{
    width:50%;
    list-style-type: none;
    display: flex;
    justify-content: end;
    align-items: center;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.menu li{
    margin-right: 30px;
    margin-left: 50px;
}

a{
    text-decoration: none;
}

/*ขีดโมบาย*/
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: rgb(0, 0, 0);
    margin: 4px 0;
}

/* MOBILE */
@media (max-width: 768px) {

    .hamburger {
        display: flex;
        justify-content: flex-end;
        align-items: end;
    }

    .menu {
        position: absolute;
        top: 60px;
        right: 20px;
        background: white;
        flex-direction: column;
        width: 200px;
        padding: 15px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.15);
        display: none;
        border-radius: 8px;
        display: flex;
        justify-content: flex-end;
    }

    .menu li a {
        color: #333;
        padding: 10px 0;
    }

    .menu.show {
        display: flex;
    }
}


#hello{
    padding: 30px;
    text-align: center;
    font-size: 20px;
}

#profilepic{
    display: flex;
    align-items: center;
    justify-content: center;
}

.picme{
    height: 200px;
    width: 200px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    object-fit: cover;
}

#aboutme h2{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1a237e;
}

.Myself {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    border: none;
    margin: 5px;
    padding: 0px;
}

#skills{
    padding: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    font-weight: 600;
    font-size: 16px;
    color: #1a237e;
}

#skills img{
    height: 250px;
    width: 250px;
    justify-content: center;
}

#work{
    text-align: center;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #1a237e;
}

#work img{
    padding: 5px;
    height: 300px;
    width: 250px;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

#work button{
    font-size: 15px;
    font-weight: 600;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: #91a7ff;
    color: #ffffff;
}

#contant{
    padding: 10px;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    color: #1a237e;
}

#contant img{
    height: 200px;
    width: 200px;
}
