* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Optional, but recommended for consistent box model */
}
#container{
    width: 90%;
    margin: 0 auto;
    background-color: lightblue;
}
header{
    display: flex;
    justify-content: space-between;
}

ul.menu{
    width:50%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.menu li{
    margin-right: 10px;
}
/* .menu li{
    float: left;
    margin: 10px;
    padding: 10px;
} */

a{
    text-decoration: none;
}

#profilePic{
    display: flex;
    justify-content: flex-end;
}

.pic{
    width: 200px;
}